src/test/resources/sanity-checks/all_malloy.yaml
id: all_malloy
namespace: sanitychecks.plugin-malloy

tasks:
  - id: run_malloy
    type: io.kestra.plugin.malloy.CLI
    beforeCommands:
      - mkdir -p compiled
      - malloy-cli compile model.malloy > compiled/model.sql
    inputFiles:
      malloy.config: |
        {
          "connections": {
            "duckdb": {
              "type": "duckdb"
            }
          }
        }
      model.malloy: |
        source: iris is duckdb.table('data/iris.csv')

        run: iris -> {
          group_by: species
          aggregate:
            avg_petal_length is avg(petal_length)
          limit: 5
        }
      data/iris.csv: |
        sepal_length,sepal_width,petal_length,petal_width,species
        5.1,3.5,1.4,0.2,setosa
        6.2,3.4,5.4,2.3,virginica
        5.9,3.0,4.2,1.5,versicolor
        5.0,3.6,1.4,0.2,setosa
        6.7,3.1,4.7,1.5,versicolor
    outputFiles:
      - compiled/model.sql
      - results.txt
    commands:
      - malloy-cli run model.malloy > results.txt

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    conditions:
      - "{{ outputs.run_malloy.exitCode == 0 }}"
      - "{{ outputs.run_malloy.outputFiles['compiled/model.sql'] is not null }}"
      - "{{ outputs.run_malloy.outputFiles['results.txt'] is not null }}"
      - "{{ read(outputs.run_malloy.outputFiles['compiled/model.sql']) contains 'SELECT' }}"
      - "{{ read(outputs.run_malloy.outputFiles['results.txt']) contains 'setosa' }}"

finally:
  - id: purge
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
